<section class="new-welcome" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="300px">
        <mat-card-title fxLayoutAlign="center"> HEY WELCOME</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="visit type" >
                <mat-option value="already register" routerLink="/newuser">New user</mat-option>
                <mat-option value="already login" routerLink="/olduser">Already a User</mat-option>
                </mat-select>
                </mat-form-field>
        </mat-card-content>
    </mat-card>
</section>

